 
 <header>
  <nav>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <a class="navbar-brand" href="index.html"><h2>Online <em>Auction</em></h2></a>
      </div>
      <div class="col-md-4" style="margin-left: 20px;">
        <ul class="main-navigation">
          <li><a href="/">Trang chủ</a></li>
          <li><a>Danh mục</a>
            <ul>
              <li *ngFor="let category of categories">
                <a (click)="search(category.name)" style="cursor: pointer;">{{category.name}}</a>
                <ul *ngIf="category.childs.length > 0">
                  <li *ngFor="let child of category.childs">
                    <a (click)="search(child.name)" style="cursor: pointer;">{{child.name}}</a>
                  </li>
                
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/become-seller" *ngIf="user_type == 1">Trờ nhành seller</a></li>
          <li><a href="#">Tài khoản</a>
            <ul>
              <li *ngIf="!islogin()"><a (click)="login()" style="cursor: pointer;">Đăng nhập</a></li>
              <li *ngIf="islogin()"><a style="cursor: pointer;" (click)="logout()">Đăng xuất</a></li>
              <li><a (click)="user()" style="cursor: pointer;">Thông tin cá nhân</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 </header>

  <!-- section-header.// -->
  
  <router-outlet></router-outlet>

 
