 
 <header>
  <nav>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a class="navbar-brand" href="index.html"><h2>Sixteen <em>Clothing</em></h2></a>
      </div>
      <div class="col-md-4" style="margin-left: 20px;">
        <ul class="main-navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">Category</a>
            <ul>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a>
                <ul>
                  <li><a href="#">Resets</a></li>
                  <li><a href="#">Grids</a></li>
                  <li><a href="#">Frameworks</a></li>
                </ul>
              </li>
              <li><a href="#">JavaScript</a>
                <ul>
                  <li><a href="#">Ajax</a></li>
                  <li><a href="#">jQuery</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Become a Seller</a></li>
          <li><a href="#">Account</a>
            <ul>
              <li *ngIf="!islogin()"><a (click)="login()" style="cursor: pointer;">Login</a></li>
              <li *ngIf="islogin()"><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
              <li><a (click)="user()" style="cursor: pointer;">Your Profile</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 </header>

  <!-- section-header.// -->
  
  <router-outlet></router-outlet>

 
